# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Week 8.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\NYU 2021\Inter Prog\Week 7 Object Communication\Week 8\.idea\.idea.Week 8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
